@page
@model BankWebApp.Pages.Customers.Accounts.TransactionsModel
@{
}


<section id="hero" class="hero section dark-background">

    <img class="backgroundImage" src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container mt-3">


        <div class="container section-title" data-aos="fade-down">
            <span class="description-title">Transactions</span>
            <h2>Transactions</h2>
        </div>

        <a 
            asp-page="/Customers/Details"
            asp-route-id="@Model.CustomerId"
            class="btn btn-secondary mb-2">
            Back
        </a>

        <div class="table-responsive">

            <table class="table custom-table" id="transactions-table">
                <thead>
                    <tr>
                        <th scope="col">
                            Transaction id
                        </th>
                           
                        <th scope="col">
                            Amount
                        </th>

                        <th scope="col">
                            Operation
                        </th>

                        <th scope="col">
                            Balance
                        </th>

                        <th scope="col">
                            Date
                        </th>

                        
                    </tr>
                </thead>

                <tbody>                    
                                        
                </tbody>
            </table>
        </div>

        
        
            <div class="d-flex justify-content-center mt-2">
                <a class="btn btn-success" id="show-more-button" href="javascript:showMore()">Show More</a>
            </div>
        
        

    </div>
</section>

@section Scripts
{
    <script>
        let pageNo = 1;        
        let maxPage = 10;

        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        });

        async function showMore() {
            const response = await fetch("Transactions?handler=ShowMore&pageNo=" + pageNo + "&accountId=" + @Model.AccountId);
            const json = await response.json();
            pageNo += 1;
            maxPage = json.maxPage;

            json.transactions.forEach(drawElement);           
            
            if (pageNo >= maxPage) {
                document.querySelector("#show-more-button").style.display = "none";
            }
        }

        function drawElement(element) {            
            document.querySelector("#transactions-table").innerHTML +=
            `<tr>
                    <td>${element.transactionId}</td>
                    <td>${element.amount}</td>
                    <td>${element.operation == "" ? "Deposit" : element.operation}</td>
                    <td>${element.balance}</td>
                    <td>${new Date(element.date)
                        .toLocaleDateString()}</td>                    
            </tr>`;
        }
        
    </script>
}
